
body{
background: ;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightgrey ;
    position: fixed;
    top: 0;
    right: 0;
    width: 100% ;
    margin-bottom: 50px;
  }
  
  li {
    float: right;
    margin-right: .05% ;
  }
  
  li a {
    display: block;
    color: rgb(29, 141, 95);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }
  
  li a:hover {
    background-color: darkgrey;
  }

  .name {
    margin-left: 7.5%;
    display: inline;
    color: rgb(255, 255, 255) ;
    height: 50px;
    font-size: 50px;
    background-color: rgb(101, 168, 194);
  }
 
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey ;
    border-top: cyan ;
    border-width: 5px;
    border-style: solid;
    height: 56px;
  }

  .bigBox{
    margin: auto ;
    margin-top: 76px;
    width: 60%;
    height: 400px;
    padding: 10px;
    background-color: lightgrey ;
    margin-bottom: 10%;
  }

  .firstContact{
    margin: auto ;
    margin-top: 76px;
    width: 60%;
    height: 400px;
    padding: 10px;
    background-color: lightgrey ;
    margin-bottom: 10%;
  }

  .Behold{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    height: 400px;
  }

  .bigBox{
    margin: auto ;
    margin-top: 76px;
    width: 60%;
    height: 400px;
    padding: 10px;
    background-color: lightgrey ;
    margin-bottom: 10%;
  }

  .portoBox {
    content: " ";
    display: block;
    clear: both;
    height: 500px;
    width: 60%;
    background: aqua;
    margin: auto;
    padding: 10px;
  }

  .LeftBox{
    width: 15%;
    height: 200px;
    background: red;
    float: left;
  }
  .rightBox{
    margin-left: 15%;
    height: 200px;
    background: black;
  }

  img{

    float: left;
    height: 25%;
    width: 25%;
  }
